.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 3rem;
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__image {
    width: 326px;
    border-radius: 1.5rem;
}

.card__data {
    width: 280x;
    background-color: aquamarine;
    padding: 1.5rem 2rem;
    box-shadow: 0.8px 24px hsla(0, 0%, 0%, .18);
    border-radius: 1rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1;
}

.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(-7px);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}